$colorNav: rgba(242, 15, 15, 0.9);
$colorSec: rgba(136, 78, 136, 0.604);
$colorA: #E8DD9C; 
$anchoImg: 6em;
$altoImg: 6em;
$blanco: white;
$redesfoot: (fb:#3d07d3, ig: #9b1252, tw:#4fa2f0);
$imgNuest: 1em;
