
nav{
    grid-area: nav;
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
}

#main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto 15%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "nav nav" "section section" "footer footer";
}

section{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
}


body{
    background-image: url(https://i.pinimg.com/originals/7d/7c/80/7d7c80d7d20478443679019063155be4.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

#main{
    width: 100%;
    height: 100%;
    margin: -20px;
    max-height: 100% !important;
    max-width: 100% !important;
}

nav,
footer,
section {
    border-radius: 15px;
}

section {
    background-color: rgba(211, 166, 211, 0.604);
}

nav{
    background-color: rgba(211, 166, 211, 0.745);
    margin-left: 20px;
}

nav, li{
    padding: 20px;
}

nav li {
    padding: 20px;
    text-align: start;
    justify-content: space-between;
}

footer {
    background-color: rgba(113, 93, 121, 0.782);
}

h1{
    display: inline;
}


a,
button{
    text-decoration: none;
    color: #000000;
}
a {
    color: #000000;
}
a:hover {
    color: #FFD700;
}

button{
    border-radius: 5px;
    background-color: white;
    padding: 3px;
}

.redes {
    font-weight: lighter;
    padding: 5px;
    margin: 5px;
    border-color: rgba(34, 1, 34, 0.659);
    border-radius: 7px;

}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}


footer {
    justify-content: center;
}

article{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
}


img{
    width: 100px;
    height: 100px;
}

section{
    padding: 20px;
    margin-top: 130px !important;
    margin-right: -200px !important;
    margin-left: 20px !important;
    width: 100%;
}

.item{
    background-color: chartreuse;
    color: white;
}

.titulos {
    font-weight: lighter;   
}



#artTransition {
    box-shadow: none;
}

#artTransition:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.nav {
 position: fixed !important; 
 padding-left: 40px !important;
 margin-top: 20px;
}

footer {
    margin-bottom: -40px;
}


@media screen and (min-width: 768px) {
    #main {
        grid-template-columns: auto;
        grid-template-rows: 20% auto 15% ;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        grid-template-areas: "nav nav" "section section" "footer footer";
    }

    section {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        grid-template-areas: "section";
        justify-items: stretch;
        align-items: stretch;
    }

    .secfull {
        width: 134%;
        margin-top: 195px !important ;
    }
    #navfull {
        margin-right: 10px !important;
    }
    #footfull {
        width: 134%;
        margin-left: 18px;
        margin-top: 7px;
    }

     /*.......seccion.........*/
    .secfullnu {
        width: 119%;
        margin-top: 195px !important;
    }
    #footfullnu {
        width: 119%;
        margin-left: 18px;
        margin-top: 7px;
    }
     /*.......seccion.........*/
    .secfullno {
        width: 101.5%;
        margin-top: 195px !important;
    }
    #footfullno {
        width: 101%;
        margin-left: 18px;
        margin-top: 140px;
    }
     /*.......seccion.........*/
    .secfulldo {
        width: 101% !important;
        margin-top: 170px !important;
    }
    #navfulldo {
        margin-top: -5px !important;
        margin-right: 12px !important;
    }
    #footfulldo {
        width: 101%;
        margin-left: 18px;
        margin-top: 180px;
    }
     /*.......seccion.........*/
     .secfullco {
        width: 131%;
        margin-top: 195px !important;
    }
     #footfullco {
        width: 131%;
        margin-left: 18px;
        margin-top: 325px !important;
    }
     /*.......seccion.........*/
    .secfullnos {
        width: 101.5%;
        margin-top: 195px !important;
    }
    #footfullnos {
        width: 102%;
        margin-left: 18px;
        margin-top: 465px !important;
    }

    
}

@media screen and (min-width: 1200px) {
    #main {
        grid-template-columns: auto auto auto ;
        grid-template-rows: 20% auto 15% ;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        grid-template-areas: "nav nav" "section section" "footer footer";
    }

    section {
        grid-template-columns:  auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        grid-template-areas: "section";
        justify-items: stretch;
        align-items: stretch;
    }

    .secfull {
        width: 193%;
        margin-top: 130px !important;
    }
    #navfull {
        padding-right: 267px !important;
    }
    #footfull {
        width: 193%;
        margin-left: 18px;
    }
     /*.......seccion.........*/
    .secfullnu {
        width: 170%;
        margin-top: 130px !important;
    }
    #footfullnu {
        width: 170%;
        margin-left: 18px;
    }
     /*.......seccion.........*/
    .secfullno {
        width: 101%;
        margin-top: 130px !important;
    }
    #footfullno {
        width: 101%;
        margin-left: 18px;
    }
     /*.......seccion.........*/
    .secfullco {
        width: 185%;
        margin-top: 130px !important;
    }
    #footfullco {
        width: 185%;
        margin-left: 18px;
        margin-top: 85px !important;
    }
     /*.......seccion.........*/
    .secfulldo {
        width: 101% !important;
        margin-top: 106px !important;
    }
    #navfulldo {
        padding-right: 267px !important;
        margin-top: -4px;
    }
    #footfulldo {
        width: 101%;
        margin-left: 18px;
        margin-top: 150px;
    }
     /*.......seccion.........*/
    .secfullnos {
        width: 101%;
        margin-top: 130px !important;
    }
    #footfullnos {
        width: 102%;
        margin-left: 18px;
        margin-top: 300px !important;
    }

}
   /* PARA DISPOSITIVOS DE 540 PX EN ADELANTE*/
@media screen and (max-width: 767px) {
    #main {
        grid-template-columns: auto;
        grid-template-rows: 20% auto 15% ;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        grid-template-areas: "nav nav" "section section" "footer footer";
    }

    section {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        grid-template-areas: "section";
        justify-items: stretch;
        align-items: stretch;
    }

    .secfull {
        width: 115.5%;
        margin-top: 260px !important ;
    }
    #navfull {
        margin-right: 12px !important;
    }
    #footfull {
        width: 116%;
        margin-left: 18px;
        margin-top: 5px !important;
    }

     /*.......seccion.........*/
    .secfullnu {
        width: 102%;
        margin-top: 260px !important;
    }
    #footfullnu {
        width: 102% !important;
        margin-left: 18px;
        margin-top: 5px !important;
    }
     /*.......seccion.........*/
    .secfullno {
        width: 101.5%;
        margin-top: 260px !important;
    }
    #footfullno {
        width: 102%;
        margin-left: 18px;
        margin-top: 5px;
    }
     /*.......seccion.........*/
    .secfulldo {
        width: 102% !important;
        margin-top: 235px !important;
    }
    #navfulldo {
        margin-top: -5px !important;
        margin-right: 12px !important;
    }
    #footfulldo {
        width: 102%;
        margin-left: 18px;
        margin-top: 5px;
    }
     /*.......seccion.........*/
     .secfullco {
        width: 115%;
        margin-top: 260px !important;
    }
     #footfullco {
        width: 115%;
        margin-left: 18px;
        margin-top: 265px !important;
    }
     /*.......seccion.........*/
    .secfullnos {
        width: 101.5%;
        margin-top: 260px !important;
    }
    #footfullnos {
        width: 102%;
        margin-left: 18px;
        margin-top: 290px !important;
    }

    
}






